{% for message in app.flashes('notice') %}
    <div class="alert alert-error">
        {{ message }}
    </div>
{% endfor %}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endfor %}
{% if error is defined and error is not null %}
    <div class="alert alert-error">
        {{ error.messageKey|trans(error.messageData, 'security') }}
    </div>
{% endif %}
