{% block body %}
	Beste {{ name }},<br />

	Ga naar: <a href="{{ url('app_reset_password') }}">herstel wachtwoord</a> Om je wachtwoord opnieuw in te stellen.<br />
	Deze link blijft 24 uur geldig.<br />
    <br />
    Met vriendelijke groet,<br />
    <br />
    Harold de Roij<br />
    Passie voor de Fiets
{% endblock %}
